@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0A192F; /* Navy Blue */
  color: #CCD6F6; /* Light Slate */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for a modern look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0A192F;
}
::-webkit-scrollbar-thumb {
  background: #3a588b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f74b8;
}